@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

* {
box-sizing:border-box;
}

body {
font-family: 'Cormorant Garamond', 'serif';
background: linear-gradient(
    135deg, #4a0015,#800020, #5c0020, #30000e
    );
color: white;
 margin: 0;

display: flex;
flex-direction: column;
align-items: center;
}

header{
    text-align: center;
    margin-bottom: 50px;
}

header h1{
font-size: 3rem;
margin-bottom: 10px;
}

header h2{
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0;
}

header p{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.8;
}

main{
    width: 90%;
    max-width: 900px;
}

.piano-section {
    text-align: center;
}

.piano-section h2{
    font-weight: normal;    
    font-style:italic;
}

.piano{ 
    display: flex;
    width: 100% ;
    position: relative;

    background-color:#111;
    padding: 16px;
    border-radius: 10px;
}


.black-key{ 
    position: absolute;
    top: 0;
    right: -25%;
    width: 50%;
    height: 60%;
    z-index: 2;

    background-color: #080808; 
    color: white;

    border: 1px solid #111;   
    border-radius: 0 0 5px 5px;
}


.white-button{
    width: 100%;
    height: 100%;

    background-color: #f5f2ed;
    color: black;

    font-size: 1rem;
    transition: 0.2s;
    
    border: 1px solid #9d9a9a;
    border-radius: 0 0 6px 6px;
    
    
}

.white-key{
    position: relative;
    flex: 1;
    height: 400px;
    
}

.white-button:hover{
background-color: #eee;
}

.piano button:active{
    transform: translateY(4px);
}

.information{   
    margin-top: 50px;
    min-height: 250px;
    padding: 30px;

    background-color: #1a0b10;

    border: 3px solid #333;
    border-radius: 15px;

    text-align: center;
}

.information h2{
    margin-top: 0;
}

.information p{
    line-height: 1.8;
}

footer{
    margin-top: 50px;
    padding: 30px;
}


@media (max-width: 600px){

}